.nav-item {
    font-size: 25px;
}

.nav-link .active {
    color: white;
}

body {
    margin: 0px;
    font-family: 'Space mono';
    line-height: 20px;
}

#header {
    height: 20px;
    background: #222;
    color: white;
}

#content {
    min-height: 90vh;
}

footer {
    font-family: 'Space mono';
    background-color: #ed6524 !important;
}

.navbar {
    background-color: #ed6524 !important;
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}