@model string

<div class="row" style="margin-bottom:20px;">
    <div class="col-12">
        <div style="text-align:center;">
            <h1>
               @Html.Raw(Model)
            </h1>
        </div>
    </div>
</div>

