 <nav class="navbar navbar-expand-lg navbar-light bg-dark" style="margin-bottom:20px;padding:20px;">
        <div class="container-fluid">
            <button class="navbar-toggler"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#navbarRightAlignExample"
                    aria-controls="navbarRightAlignExample"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarRightAlignExample" style="font-size:20px;">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" style="color:white;" asp-action="Index" asp-controller="Home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" style="color:white;" asp-action="Industry" asp-controller="Home">Industries</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" style="color:white;" asp-action="Brands" asp-controller="Home">Brands</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" style="color:white;" href="#">SMS MASTERY COURSE</a>
                    </li>
                </ul>
            </div>
        </div>
</nav>